.pannello-login{
	-fx-background-color: rgba(255, 255, 255, 0.8);
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.tasto-login{
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
	-fx-background-color: #2207bb;
	-fx-alignment: center;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.sidebar{
	-fx-background-color: #2207bb;
	-fx-border-color: #2207bb;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-radius: 0px 25px 25px 0px;
	-fx-background-radius: 0px 25px 25px 0px;
	-fx-border-style: solid;
}

.label-registrati1{
	-fx-font-family: 'Montserrat';
}

.label-registrati2{
	-fx-font-weight: bold;
	-fx-font-family: 'Montserrat';
}

.sezione{
	-fx-background-color: #FFFFFF;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}

.sidebar-label{
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
}

.logo{
	-fx-border-width: 2px 2px 2px 2px;
	-fx-border-style: solid;
	-fx-border-radius: 0px 25px 25px 0px;
	-fx-background-radius: 0px 25px 25px 0px;
}

.button-acquisti{
	-fx-background-color: #191970;
	-fx-border-color: #191970;
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: 'Montserrat';
	-fx-border-style: solid;
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
}

.alert-registrazione{
	-fx-background-color: rgba(255, 255, 255, 0.9);
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
}

.chiudi-alert-registrazione{
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
	-fx-background-color: red;
	-fx-alignment: center;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.testo-alert-registrazione{
	-fx-alignment: center;
}

.field-form{
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-padding: 5px 10px;
}